.headline-primary {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);

    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;

}

.headline-secondary {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;

    color: var(--text-secondary-light);
    text-transform: capitalize;

}