@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@400;700&display=swap');

.bmi-modal {
    font-family: 'Montserrat', sans-serif;
}

.bmi-note {
    padding-top: 50px;
    font-size: 12px;
    color:brown
}
.bmi-note h1 {
    font-weight: 600;
}